

header {
    background-color: #171314;
    color: #B89951;
    text-align: center;
    padding: 20px;
}

body {
    font-family: "geneva", sans-serif;
    background-color: #443125;
    text-align: center;
    padding: 10px;
}

main {
    font-family: "geneva", sans-serif;
    background-color: #605D51;
    text-align: center;
    padding: 30px 50px 500px 50px;
    color: white;
}


.center-container {
    margin: auto;
    width: 80%;
}

.chart-div {
    width: 70%;
    margin: auto;
    color: white;
}

.padding {
    padding: 10px;
}

table {
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin: auto;
    border: 1px solid white;
}

th, td {
    border: 1px solid white;
    padding: 5px;
    text-align: left;
    background-color: #605D51;
    width: 50px;
    font-size: 15px;
}

/* Table color cells */
.green-cell {
    background-color: green;
}
.red-cell {
    background-color: red;
}
.wonder-cell {
    background-color: #b28448;
}
.money-cell {
    background-color: #c4813b;
}
.war-cell {
    background-color: #a93e36;
}
.blue-cell {
    background-color: #42739c;
}
.yellow-cell {
    background-color: #c07e32;
}
.green-cards-cell {
    background-color: #4f6a41;
}
.purple-cell {
    background-color: #5d567f;
}
.cities-cell {
    background-color: #5c4c3f;
}
.leaders-cell {
    background-color: #a9a196;
}
.sea-war-cell {
    background-color: #445778;
}
.sea-cards-cell {
    background-color: #5882aa;
}
.sum-cell {
    background-color: #b9ad9f;
}
.ranking-cell {
    background-color: #b9ad9f;
}



.extensions-table {
    width: auto;
}

.extensions-table-td {
    width: 60px;
}

nav {
    text-align: center;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #443125;
    text-align: center;
}

nav li {
    font-size: 30px;
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #605D51;
}

li.selected a {
    background-color: #605D51;
}


/* START Drop-down menu stuff */
.invisible {
    display: none;
}

.visible {
    display: block;
}

select,
option {
    background-color: #171314;
    color: white;
    padding: 10px;
    font-size: 25px;
}

form {
    background-color: #605D51;
    padding: 5px;
    font-size: 20px;
}
/* END Drop-down menu stuff */



footer {
    background-color: #171314;
    color: #B89951;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}


