

header {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    font-family: "geneva", sans-serif;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

main {
    font-family: "geneva", sans-serif;
    background-color: #333;
    text-align: center;
    padding: 10px;
    color: white;
}


.center-container {
    margin: auto;
    width: 80%;
}

.center-div {
    width: 500px;
    margin: auto;
    color: white;
}

table {
    border-collapse: collapse;
    text-align: center;
    padding: 30px;
    margin: auto;
    border: 1px solid white;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    background-color: #333;
    width: 200px;
}

.green-cell {
    background-color: green;
}

.red-cell {
    background-color: red;
}

.extensions-table {
    width: 50%;
}

.extensions-table-td {
    width: 20%;
}

nav {
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li.selected a {
    background-color: #555;
}


/* START Drop-down menu stuff */
.invisible {
    display: none;
}

.visible {
    display: block;
}

select,
option {
    background-color: #333;
    color: white;
    padding: 5px;
    font-size: 20px;
}

form {
    background-color: #111;
}
/* END Drop-down menu stuff */



footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
}


